<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav>
	<a href="{{ url_for('mainpages.techniques') }}">All Techniques</a>
</nav>
<div class="Title">
  <h1>{{ technique['technique_name'] }}</h1>
</div>
<div class="summary-block">
	<p class="summary-text">{{ technique['theory'] }}</p>
</div>

<div class="Technique-info">  
	<dl class="R-Info-List">
		<dt><h3>Technique Details</h3></dt>
		<dd  class="difficulty">Difficulty Rating: {{ technique['difficulty'] }}</dd>
		<dd  class="ttype">Technique type: {{ technique['ttype'] }}</dd>
	</dl>
</div>	

{% if ingredients %}
	<div class="Ingredients-block">
		<strong class="ingredients-title">Ingredients used if any</strong>
  	<ul class="ingridients-list">
		{% for ingredient in ingredients %}
	    <li>{{ ingredient['quantity'] }} {{ ingredient['name'] }}</li>
    	{% endfor %}
  	</ul>
	</div>
{% endif %}
<div class="Procedure-Block">
	<p><strong>Procedure</strong><br>{{ technique['body'] }}</p>
</div>

{% if rid != -1 %}

	<div class="Techniques-block">
		<strong class="Techniques-title">Other techniques used in the recipe</strong>
  	<ul class="ingridients-list">
		{% for technique in techniques %}
		    <li><a href="{{ url_for('mainpages.techniquepage', id=technique['tid']) }}">{{ technique['technique_name'] }}</a></li>
    	{% endfor %}
  	</ul>
	</div>

	<div class="Prev-Recipie">
		<br><br>
		Click here to go back to the <a href="{{ url_for('mainpages.recipiepage', id=rid) }}">recipie</a>
	</div>
{% endif %}
</body>
</html>