<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Technique-lis</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="Title">
  <h1>Techniques</h1>
</div>
<div class="prty-text-block">
	<p class="prty-text">Explore the beautiful techniques on our site</p>
</div>

<div class="Techniques-list-class">  
	<dl class="T-list">
		<dt><h3>Techniques</h3></dt>
        {% for technique in techniques %}
		    <dd  class="Technique-link"><a href="{{ url_for('mainpages.techniquepage', id=technique['tid']) }}">{{ technique['technique_name'] }}</a></dd>
        {% endfor %}
	</dl>
</div>	
</body>
</html>
