<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="Title">
  <h1>{{ technique['technique_name'] }}</h1>
</div>
<div class="summary-block">
	<p class="summary-text">{{ technique['theory'] }}</p>
</div>

<div class="Technique-info">  
	<dl class="R-Info-List">
		<dt><h3>Technique Details</h3></dt>
		<dd  class="difficulty">Difficulty Rating: {{ technique['difficulty'] }}</dd>
		<dd  class="ttype">Technique type: {{ technique['ttype'] }}</dd>
	</dl>
</div>	

<div class="Ingredients-block">
	<strong class="ingredients-title">Ingredients used if any</strong>
  <ul class="ingridients-list">
	{% for ingredient in ingredients %}
	    <li>{{ ingredient['quantity'] }} {{ ingredient['name'] }}</li>
    {% endfor %}
  </ul>
</div>
<div class="Procedure-Block">
	<p><strong>Procedure</strong><br>{{ technique['body'] }}</p>
</div>
</body>
</html>