<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>T Data Input</title>
</head>

<body>
	<form name="entry form" method="post">
		<div class="Container">
            <div class="Input">
				<label for="textfield">Ingredient_id</label>
				<input type="text" name="Ingredient_id" id="Ingredient_id">
			</div>
			<div class="Input">
				<label for="textfield">Ingredient_name</label>
				<input type="text" name="Ingredient_name" id="Ingredient_name">
			</div>
			<div class="Input">
				<input type="submit" name="Submit button" id="Submit button">
			</div>
		</div>
	</form>
</body>
</html>
