<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>R Data Input</title>
</head>

<body>
	<form name="entry form" method="post">
		<div class="Container">
            <div class="Input">
				<label for="textfield">recipe_id</label>
				<input type="text" name="recipe_id" id="recipe_id">
			</div>
			<div class="Input">
				<label for="textfield">Recipe_name</label>
				<input type="text" name="recipe_name" id="recipe_name">
			</div>
			<div class="Input">
				<label for="textfield">Serves</label>
				<input type="text" name="Serves" id="Serves">
			</div>
			<div class="Input">
				<label for="textfield">Cooktime</label>
				<input type="text" name="Cooktime" id="Cooktime">
			</div>
			<div class="Input">
				<label for="textfield">Body</label>
				<input type="text" name="Body" id="Body">
			</div>
			<div class="Input">
				<label for="textfield">Veg</label>
				<input type="text" name="Veg" id="Veg">
			</div>
			<div class="Input">
				<label for="textfield">Difficulty</label>
				<input type="text" name="Difficulty" id="Difficulty">
			</div>
			<div class="Input">
				<label for="textfield">Summary</label>
				<input type="text" name="Summary" id="Summary">
			</div>
			<div class="Input">
				<label for="textfield">Associated_Techniques</label>
				<input type="text" name="Associated_Techniques" id="Associated_Techniques">
			</div>
			<div class="Input">
				<label for="textfield">Associated_Ingredients</label>
				<input type="text" name="Associated_Ingredients" id="Associated_Ingredients">
			</div>
			<div class="Input">
				<input type="Submit" name="Submit button" id="Submit button">
			</div>
		</div>
	</form>
</body>
</html>
