<!--
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav>
	<a href="{{ url_for('mainpages.recipes') }}">All Recipes</a>
</nav>
<div class="Title">
	<h1>{{ recipe['recipe_name'] }}</h1>
</div>
<div class="summary-block">
	<p class="summary-text">{{ recipe['summary'] }}</p>
</div>

<div class="Recipe-info">  
	<dl class="R-Info-List">
		<dt><h3>Recipe Details</h3></dt>
		<dd  class="difficulty">Difficulty Rating: {{ recipe['difficulty'] }}</dd>
		<dd  class="cooktime">Cook time: {{ recipe['cooktime'] }} hours</dd>
		<dd  class="serves-count">Serves: {{ recipe['serves']  }} people</dd>
		<dd  class="veg/nonveg">{{ recipe['veg'] }}</dd>
	</dl>
</div>	

<div class="Ingrdients-block">
	<strong class="ingredients-title">Ingredients</strong>
  <ul class="ingridients-list">
    {% for ingredient in ingredients %}
	    <li>{{ ingredient['quantity'] }} {{ ingredient['name'] }}</li>
    {% endfor %}
  </ul>
</div>
<div class="Procedure-Block">
	<p><strong>Procedure</strong><br>{{ recipe['body'] }}</p>
</div>
<div class="Techniques-block">
	<strong class="Techniques-title">Techniques used</strong>
  <ul class="ingridients-list">
	{% for technique in techniques %}
	    <li><a href="{{ url_for('mainpages.techniquepage', id=technique['tid']) }}">{{ technique['technique_name'] }}</li>
    {% endfor %}
  </ul>
</div>
</body>
</html>
-->

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="{{ url_for('static', filename='recipe.css') }}" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#141A1B">
<div class="full_wrapper">
  <div class="Container">
    <div class="Title">
      <h1>Recipe Name</h1>
      
      </div>
    <div class="summary-block">
      <p class="summary-text">Greek-inspired chicken skewers with lots of flavor! Marinade is also wonderful on grilled vegetables.</p>
      </div>
    <div class="properties_wrapper">
		<div class="Column1">
      <div class="Recipe-info">  
        <ul class="R-Info-List" >
          <dt><h3>Recipe Details</h3></dt>
          <li  class="difficulty">Difficulty Rating: {{ recipe['difficulty'] }}</li>
          <li  class="cooktime">Cook time: {{ recipe['cooktime'] }} hours</li>
          <li  class="serves-count">Serves: {{ recipe['serves']  }} people</li>
          <li  class="veg/nonveg">{{ recipe['veg'] }}</li>
          </ul>
        </div>	
	<div class="Procedure-Block">
	  <p><h3>Procedure</h3></p>

	  <p class="procedure_writeout">
		{{ recipe['body'] }}</p>

	  </div>
		</div>
      <div class="Column2">
		  <div class="Ingrdients-block">
			<h3 class="ingredients-title">Ingredients</h3>
			<ul class="ingridients-list" >
			{% for ingredient in ingredients %}
				<li>{{ ingredient['quantity'] }} {{ ingredient['name'] }}</li>
			{% endfor %}
			</ul>
			</div>
		<div class="Techniques-block">
			<h3 class="Techniques-title">Techniques used</h3>
			
				{% for technique in techniques %}
	    <a href="{{ url_for('mainpages.techniquepage', id=technique['tid']) }}">{{ technique['technique_name'] }}<br>
				{% endfor %}

			</div>
		<!--
		  <div class="favorite_button">
			  <a href=""><h3>Add to Favorites</h3></a>
		</div>
		-->
	 	</div>
  </div>
</div>
	<div class="Navbar_Wrap">
			<a href="{{ url_for('mainpages.recipes') }}">Recipes</a><&nbsp>
			<a href="{{ url_for('mainpages.techniques') }}">Techniques</a>
			<!--
			<li><a>User</a></li>
			-->
			
	</div>
</div>
</body>