<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Recipe-lis</title>
<link href="{{ url_for('static', filename='recipe.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="Container">
  <div class="Navbar_Wrap">
      <a href="{{ url_for('mainpages.techniques') }}">Techniques</a>
      <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>
  <div class="Title">
    <h1>Recipes</h1>
  </div>
  <div class="prty-text-block">
    <p class="prty-text">Your saved recipes</p>
  </div>
  
  <div class="Recipe-list-class">  
    <dl class="R-list">
      <dt><h3>Recipes</h3></dt>
      {% for recipie in recipies %}
		    <dd  class="Recipe-link"><a href="{{ url_for('mainpages.recipiepage', id=recipie['rid']) }}">{{ recipie['recipie_name'] }}</a></dd>
        {% endfor %}
      </dl>
  </div>	
</div>
</body>
</html> 