<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>T Data Input</title>
</head>

<body>
	<form name="entry form" method="post">
		<div class="Container">
            <div class="Input">
				<label for="textfield">Technique_id</label>
				<input type="text" name="Technique_id" id="Technique_id">
			</div>
			<div class="Input">
				<label for="textfield">Technique_name</label>
				<input type="text" name="Technique_name" id="Technique_name">
			</div>
			<div class="Input">
				<label for="textfield">TType</label>
				<input type="text" name="TType" id="TType">
			</div>
			<div class="Input">
				<label for="textfield">Difficulty</label>
				<input type="text" name="Difficulty" id="Difficulty">
			</div>
			<div class="Input">
				<label for="textfield">Body</label>
				<input type="text" name="Body" id="Body">
			</div>
			<div class="Input">
				<label for="textfield">Theory</label>
				<input type="text" name="Theory" id="Theory">
			</div>
			<div class="Input">
				<label for="textfield">Associated_Ingredients</label>
				<input type="text" name="Associated_Ingredients" id="Associated_Ingredients">
			</div>
            <div class="Input">
				<label for="textfield">Quantities</label>
				<input type="text" name="Quantities" id="Quantities">
			</div>
			<div class="Input">
				<input type="submit" name="Submit button" id="Submit button">
			</div>
		</div>
	</form>
</body>
</html>
